body{
  font-size: 1.5rem;
  background-color: white;
  height: auto;
  width: auto;
}
h1{
color: #363636;
border-bottom: solid orange;
width: auto;
font-size: 3rem;
}
h2{
  font-size: 2rem;
color: #363636;
border-bottom: solid orange;
width: auto;
}

h3{
  font-size: 1.5rem;
  font-style: normal;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}
button{
  font-size: 2rem;
  height: min-content;
  width: min-content;
  display: block;
  background-color: orange;
  color:white;
  font-weight: bold;
  align-self: flex-end;
}
img{
display:  flex ;
opacity: 0.7;
height: 100%;
width: 100%;
position:absolute;
}

.details{

  position: relative;

}
.box{
  display: inline-flex;
  border: solid #CFCFCF;
  width:31%;
  margin-right: 1rem;
  margin-bottom: 2rem;
  font-style: oblique;
  font-family: lato;
  font-size: 1.2em;
  position: relative;
}
.comics{
  display: inline-block;
}
.boxContent{
  border: solid #CFCFCF;
  height: 100%;
  text-align: left;
  z-index: +1;
}
.corpo{
  text-align: center;

}

.some{
  display: none;
}
#buttonPrevious{
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 10px;
  position: absolute;
    left: 1em;
}
#buttonNext{
  height: auto;
  width: auto;
  margin-right: 0px;
  margin-left: auto;
  border-radius: 10px;
  position: absolute;
    right: 1em;
}
